[Desktop Entry]
Name=fstl-e
GenericName=Fast STL Viewer
Exec=fstl-e %U
Terminal=false
Icon=fstlapp-fstl-e
Type=Application
MimeType=model/stl;
Categories=Utility;
StartupWMClass=fstl-e

